:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}


body {
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: #0096FF;

    grid-row: 1 / 3;


    grid-template-rows: 2fr repeat(10, 1fr);

    font-size: 20px;
}

.sidebar .icon {
    margin: 0 15px 0 15px;
}

.dashboard {
    font-size: 32px;
    padding: 15px 0 50px 15px;
    gap: 16px;
}

.nav-button {
    display: flex;
    align-items: center;
}

.buttons {
    font-size: 24px;
    display: grid;
    gap: 24px;
    margin-bottom: 50px;
    padding-left: 10px;
}

.sidebar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.header {
    padding: 0 30px 30px 50px;
    position: relative;
    box-shadow: 0px 1px 5px grey;
}

.top-header {
    padding-top: 15px;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    gap: 150px;
    grid-template-columns: 2fr 1fr;
}

.search-bar {
    background-color: lightgray;
    border-radius: 15px;
    height: 30px;
}

.bottom-header {
    display: flex;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    gap: 16px;
}

.header-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-buttons button {
    border: none;
    background-color: #0096FF;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    margin: 0 20px 0 30px;
}

.icon {
    width: 35px;
    height: 35px;
    color: white;
}

.large-icon {
    height: 75px;
    width: 75px;
    color: white;
}

.medium-icon {
    height: 40px;
    width: 40px;
    color: white;
}

.user-corner {
    display: flex;
    margin-left: auto;
    gap: 36px;
    align-items: center;
}

.user-corner > div {
    font-weight: bold;
    font-size: 20px;
}

.search {
    flex: 1;
    display: flex;
    gap: 16px;
    grid-template-columns: 1fr 12fr;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: bold;
}

.user-info img {
    grid-row: 1 / 3;
}

.search-bar {
    flex: 1;
}

.small {
    font-size: 12px;
}

.big {
    font-size: 24px;
}

.main {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 40px;

    background-color: whitesmoke;

    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;

    gap: 24px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-row: 1 / 3;
}

.main-title {
    font-weight: bold;
    font-size: 24px;
    margin: 15px 0;
}

.card-container {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


.card {
    height: 200px;
    background-color: white;
    border-radius: 5px;
    border-left: 10px solid orange;
    padding: 15px;
    padding-top: 30px;

    display: flex;
    flex-direction: column;

    box-shadow: 0px 1px 3px grey;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.description {
    font-size: 14px;
    color: gray;
}

.card-icons {
    margin-top: auto;
    margin-left: auto;
}

.info-card {
    background-color: white;
    border-radius: 5px;
    padding: 1px 0;
}

.announcements .info-card {
    padding: 0 30px;
}

.announce-desc {
    color: gray;
    font-size: 14px;
}

.announce-title {
    font-weight: bold;

}

.announcement-text {
    padding: 25px 0;
}

.line {
    border-bottom: 1px solid gray;
}

.user {
    display: flex;
    align-items: center;
    margin: 30px;
}

.user img {
    margin-right: 30px;
}

.round {
    border-radius: 50%;
}

.rotate {
    transform: rotate(-90deg);
}

.user-desc {
    color: gray;
}